body{
  background-color: magenta;
  text-transform: capitalize;
  color: purple;
  text-align: center;
  padding-top: 3%;
}

h1{
  border-bottom: solid purple;
}

h1:hover{
  cursor: pointer;  
}

.squad{
  font-size: 22px;
}

section{
  padding: 3px;
}

section:hover{
  color: white;
  border: solid white;
  border-radius: 20%;
  padding: 0px;
}
