body{
  background-color: magenta;
  text-transform: capitalize;
  color: purple;
  text-align: center;
  /*padding-top: 3%;*/
}

header{
  border-bottom: solid purple;
  padding: 2%;
}

h1:hover{
  cursor: pointer;
}

h1, h4{
  margin: 0;
}

.squad{
  font-size: 22px;
}

section{
  padding: 3px;
}

section:hover{
  color: white;
  border: solid white;
  border-radius: 20%;
  padding: 0px;
}
